rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Profile images
    match /profile-images/{userId}/{allPaths=**} {
      allow read;
      allow create, update: if request.auth != null && request.auth.uid == userId;
    }

    // Project images
    match /project-images/{userId}/{allPaths=**} {
      allow read;
      allow create, update: if request.auth != null && request.auth.uid == userId;
    }

    // Blog images
    match /blog-images/{userId}/{allPaths=**} {
      allow read;
      allow create, update: if request.auth != null && request.auth.uid == userId;
    }

    // ENGAGEMENT FILE UPLOADS
    match /engagements/{engagementId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null &&
                   firestore.exists(/databases/(default)/documents/engagements/$(engagementId)) &&
                   (
                     firestore.get(/databases/(default)/documents/engagements/$(engagementId)).data.developerId == request.auth.uid ||
                     firestore.get(/databases/(default)/documents/engagements/$(engagementId)).data.advisorId == request.auth.uid
                   );
    }
  }
}
